#hat {
    height: 200px;
    width: 100%;
    background: #6643fa;
}

html, body {
    padding: 0;
    margin: 0;
    background: #eee;
}

#footer {
    position: fixed;
    bottom: 0px;
    height: 150px;
    width: 100%;
    background: #ac86d9;
    z-index: 1;
}

#but {
    display: inline-block;
    width: 500px;
    height: 150px;
    box-sizing: border-box;
    color: #eee;
    background: #ac86d9;
    border-radius: 30px;
    border: 0px solid black;
    position: relative;
    margin-top: 50px;
    vertical-align: 50px;
    font-family: "Open Sans" regular;
    font-size: 25px;
    outline: none;
}

    #but:hover {
        background: #bda5d9;
    }

    #but:active {
        background: #b1d9a5;
    }


#font {
    margin: auto;
    height: 80%;
    width: 100%;
    position: absolute;
}

#name {
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    height: 200px;
    width: 50%;
    position: absolute;
    left: 30%;
    color: #eee;
    text-align: right;
    /*margin-top: 10px;*/
    font-size: 50px;
}

    #name pre {
        font: 400 50px/1.2 'Merienda One', Helvetica, sans-serif;
        color: #eee;
    }

#persons {
    border-spacing: 20px 5px;
    margin: auto;
    margin-top: 70px;
}

#misha {
    height: 198px;
    width: 198px;
    background: url(misha.png);
    border: 2px solid #333;
    border-radius: 150px;
    position: relative;
}

#andrew {
    height: 198px;
    width: 198px;
    background: url(andrew.png);
    border: 2px solid #333;
    border-radius: 150px;
}

#stas {
    height: 198px;
    width: 198px;
    background: url(stas.png);
    border: 2px solid #333;
    border-radius: 150px;
}

#daniel {
    height: 198px;
    width: 198px;
    background: url(daniel.png);
    border: 2px solid #333;
    border-radius: 150px;
}

table {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 18px;
}
